<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    <title>OpenLayers example</title>
  </head>
  <body>
    <h2>ISS current position above the Earth</h2>
    <div id="map" class="map"></div>
    <div id="coords">Latitude:  Longitude:</div>
    <input type="hidden" id="issLon" name="issLon" value="{{ issLon }}">
    <input type="hidden" id="issLat" name="issLat" value="{{ issLat }}">

    <p>
    <label for="track">
      Afficher ma position
      <input id="track" type="checkbox"/>
    </label>
      position accuracy : <code id="accuracy"></code>&nbsp;&nbsp;
      altitude : <code id="altitude"></code>&nbsp;&nbsp;
      altitude accuracy : <code id="altitudeAccuracy"></code>&nbsp;&nbsp;
      heading : <code id="heading"></code>&nbsp;&nbsp;
      speed : <code id="speed"></code>
      </p>

    There is currently <strong>{{ astros|length }} astronauts</strong> in the International Space Station:
    <ul>
      {% for astro in astros %}
      <li><a href="{{ astro.wiki_page.url }}">{{ astro.wiki_page.snippet|safe }}...</a></li>
      {% endfor %}
    </ul>
    <script src="/static/scripts/openLayers.js"></script>
    <script type="module" src="/static/scripts/geoloc.js"></script>
  </body>
</html>