<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    <title>OpenLayers example</title>
      <script>
          var points = [];
          {% set iss = namespace(lon=0) %}
          {% set iss = namespace(lat=0) %}

          {% for position in positions %}
            points.push([{{ position['longitude'] }},{{ position['latitude'] }}])
            {% set iss.lon = position['longitude'] %}
            {% set iss.lat = position['latitude'] %}
          {% endfor %}

      </script>
  </head>
  <body onload="drawTrajectory(points);">
    <h2>ISS current position above the Earth</h2>
    <div id="map" class="map"></div>
    <div id="coords">Latitude:  Longitude:</div>
    <input type="hidden" id="issLon" name="issLon" value="{{ iss.lon }}">
    <input type="hidden" id="issLat" name="issLat" value="{{ iss.lat }}">


    <label for="track">
      Afficher ma position
      <input id="track" type="checkbox"/>
     </label> Latitude : <code id="latMyPosition"></code>&nbsp;&nbsp;
     </label> Longitude : <code id="lonMyPosition"></code>
      <p>
      position accuracy : <code id="accuracy"></code>&nbsp;&nbsp;
      altitude : <code id="altitude"></code>&nbsp;&nbsp;
      altitude accuracy : <code id="altitudeAccuracy"></code>&nbsp;&nbsp;
      heading : <code id="heading"></code>&nbsp;&nbsp;
      speed : <code id="speed"></code>
      </p>

    <p>In the last hour, the ISS passed over:</p>
    {% for position in positions %}
        <ul>
            <li>{{position['location']}} Long: {{ position['longitude'] }} Lat: {{ position['latitude'] }}</li>
        </ul>
    {% endfor %}

    There is currently <strong>{{ astros|length }} astronauts</strong> in the International Space Station:
    <ul>
      {% for astro in astros %}
        {% if astro.wiki_page.image %}
            <img src="{{ astro.wiki_page.image }}">
        {% endif %}
        <li><a href="{{ astro.wiki_page.url }}">{{ astro.wiki_page.snippet|safe }}...</a></li>
      {% endfor %}
    </ul>

    {% if pass_time %}
        Votre position géographique: {{ pass_time.location.city }}, {{ pass_time.location.region }}, {{ pass_time.location.city }}<br>
        La station ISS passera au dessus de votre position géographique dans les moment suivants: <br>
        {% for rise_time in pass_time.rise_time %}
            {% for key, value in rise_time.items() %}
               <li><span>{{ value|format_datetime }}</span></li>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <script src="/static/scripts/openLayers.js"></script>
    <script type="module" src="/static/scripts/geoloc.js"></script>
    <script src="/static/scripts/trajectory.js"></script>
  </body>
</html>